body{
  background-color: #F9F9F9;
  font-family: 'Nunito', sans-serif;
}

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 350px;
    margin-top: -175px;
    margin-left: -165px;
    background-color: #555555;
    border-radius: 30px;
    color: white;
}

.picbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #a76ecc;
}

#title{
    position: absolute;
    font-weight: bold;
    font-size: 45px;
    margin-left: 35px;
    top: 25px;
}

#login-login{
    position: relative;
    margin-top: 14%;
    margin-bottom: 30px;
    width: 90%;
}

input[type=text],input[type=password]{
    position: relative;
    margin-top: 2%;
    left: 15%;
    width: 55%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input[type=submit]{
    position: relative;
    margin-top: 45px;
    padding: 5px 5px;
    background-color: #2ECC71;
    border: 3px solid #2ECC71;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 70%;
    margin-left: -35%;
    left: 50%;
    cursor: pointer;  
}

input[type=submit]:hover{
  transform: scale(1.03);
}

#user-pic{
    width: 35px;
    height: auto;
    position: absolute;
    left: 45px;
    top: 132px;
}

#pwd-pic{
    width: 35px;
    height: auto;
    position: absolute;
    left: 45px;
    top: 176px;
}